:root {
  --darkgray: #181818;
}

html {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--darkgray);
}

body {
  color:  white;
}

html, body {
  padding: 0;
  margin: 0;
}

a {
  color: white;
}

input[type="text"] {
  border: none;
  border-radius: 10px;
  padding: 1vh;
}

button {
  color: white;
  background: black;

  border: 1px solid black;
  border-radius: 10px;

  padding: 1vh 2vh;

  cursor: pointer;
}

.header-logo {
  width: 13%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: black;

  position: sticky;
  top: 0;
  padding: 1vh;
}

.menu-link {
  margin: 2vh;
  text-decoration: none;
  cursor: pointer;
}

/* VIDEO BACKGROUND */

.video-background {
  position: fixed;
  min-width: 100vw;
  min-height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -10;
  object-fit: cover;
}
.video-background video {
  width: 100%;
  display: block;
  /*transform: translateY(-30vh);*/
}
.video-background:before {
  content: '';
  position: absolute;
  background: rgba(0,0,0,0.8);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


/* TAGS */

.tag-name {
  font-size: x-small;
  text-decoration: none;

  padding: 0.3vh 1vh;
  margin: 0.5vh;
  border: 1px solid white;
  border-radius: 50px;

  cursor: pointer;
}

.selected-tag {
  font-size: x-small;
  text-decoration: none;

  padding: 0.3vh 1vh;
  margin: 0.5vh;
  border: 1px solid black;
  border-radius: 50px;

  background: black;

  cursor: pointer;
}



/* VIDEO LIST */

.video-list-wrapper {
  padding: 2vh;
}

.video-list-title-wrapper {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 2vh;
}

.video-list-title {
  margin: 2vh 0;
}

.video-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  padding: 0;
}

.video-list-item {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 10;
  
  /*background-color: black;*/
  /*background-image: url("https://i3.ytimg.com/vi/8U58EZADC-o/hqdefault.jpg");*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center right;

  border: 1px solid black;
  border-radius: 5px;
  /*width: 10%;*/
  padding: 2vh;
  margin-right: 1vh;
  margin-bottom: 1vh;
  padding-right: 10vh;
}

.video-list-item h4 {
  margin: 0;
  margin-bottom: 2vh;
  font-size: small !important;
  /*cursor: ;*/
}

.video-list-item:hover {
  /*background: #333;*/
  /*color: black;*/
  border: 1px solid white !important;
}

/* POPUP */

.popup {
  display: none;

  position: sticky;
  bottom: 35vh;
  width: 30vw;
  height: 30vh;
  margin: auto;
  padding: 5vh;

  background: var(--darkgray);

  border-radius: 5px;

  box-shadow: 0px 0px 50vh 20vh black;
}

.links-list {
  list-style-type: none;
  padding: 0;
  margin-top: 6vh;
  /*text-align: left;*/
}